.pet-class {
    display: inline-block;
    width: 40%;
    min-width: 150px;
    margin-right: 20px;
    margin-left: auto;
}

img {
    width:100%;
    max-height: 500px;
}

.dashboard{
    text-align: center;
}

.pet-attributes{
    text-align: left;
}

.emptyPetList{
    /* display: inline-block; */
    /* height: 100%; */
    /* width: 40%; */
    /* min-width: 500px; */
    /* padding-bottom: 50% */

}